* {
  box-sizing: border-box;
}

html {
  background-color: #faf9f7;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 20px 0px;
}

//* Nav

.nav-bar-container {
  height: 30px;
  margin-bottom: 40px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 720px;
  justify-content: flex-end;
}

.nav-bar-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

.nav-bar-item {
  display: flex;
  padding: 0px 20px 0px 20px;
  border-right: 1px solid #d9d9d9;
  font-size: 16px;
  font-family: "Lato", "helvetica neue", helvetica, sans-serif;
  color: #222222;
  font-weight: bold;
}

.last-nav-bar-item {
  display: flex;
  padding: 0px 20px 0px 20px;
  font-size: 16px;
  font-family: "Lato", "helvetica neue", helvetica, sans-serif;
  font-weight: bold;
}

//* Home

.shape {
  width: 0;
  height: 0;
  border: 200px solid transparent;
  // border-bottom-color: black;
  position: relative;
  top: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.s-white {
  border-bottom-color: #faf9f7;
}

.s-black {
  border-bottom-color: black;
}

.shape-bottom {
  width: 0;
  height: 0;
  border: 200px solid transparent;
  border-top-color: black;
  position: relative;
  bottom: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-b-black {
  border-top-color: black;
}

.s-b-white {
  border-top-color: #faf9f7
}

.shape-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.shape-text {
  // color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 200px;
  width: 200px;
  margin-top: 80px;
  font-size: 42px;
  font-weight: bold;
  margin-left: 90px;
  font-family: "Lato", "helvetica neue", helvetica, sans-serif;
}

.s-t-black {
  color: black;
}

.s-t-white {
  color: white;
}


.shape-text-bottom {
  // color: white;
  height: 200px;
  width: 300px;
  font-size: 42px;
  font-weight: bold;
  margin-left: 35px;
  font-family: "Lato", "helvetica neue", helvetica, sans-serif;
}

.shape-text-right {
  font-size: 42px;
  font-weight: bold;
  font-family: "Lato", "helvetica neue", helvetica, sans-serif;
  // color: white;
}

.shape-text-right-b {
  font-size: 42px;
  font-weight: bold;
  font-family: "Lato", "helvetica neue", helvetica, sans-serif;
  // color: white;
}

.text-container {
  display: flex;
  margin-top: -190px;
  display: flex;
  flex-direction: column;
}

//* Portfolio

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.portfolio-main {
  display: flex;
  flex-direction: column;
}

.portfolio-section {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 650px;
  // margin: 0px -20px -20px;
  background-color: #faf9f7;
  transition: all 250ms ease-in-out;
  &:hover {
    background-color: white;
  }
}

.p-bottom {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 30px;
}

.portfolio-section-one {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 650px;
  // margin-bottom: 20px;
  background-color: #222222;
  transition: all 250ms ease-in-out;
  &:hover {
    background-color: black;
  }
}

.p-small {
  display: flex;
  flex: 0.5;
}


.p-large {
  display: flex;
  flex: 4;
  flex-direction: row;
}

.p-large-one {
  display: flex;
  flex: 4;
  flex-direction: row;
  // background-color: black;
}

.project-container {
  flex-grow: 1;
  display: flex;
}

.p-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// #root > div > div.portfolio-main > div:nth-child(1) > div.p-large > div > div.p-carousel-container > div > div {
//   width: 450px;
//   height: 270px;
// }

// #root > div > div.portfolio-main > div:nth-child(3) > div.p-large > div > div.p-carousel-container > div > div {
//   width: 450px;
//   height: 270px;
// }

// #root > div > div.portfolio-main > div:nth-child(2) > div.p-large > div > div.p-carousel-container > div > div {
//   width: 450px;
//   height: 270px;
// }

// #root > div > div.portfolio-main > div:nth-child(4) > div.p-large > div > div.p-carousel-container > div > div {
//   width: 450px;
//   height: 270px;
// }



.p-carousel {
  display: flex;
  flex: 1.5;
  width: 450px;
  height: 270px;
}

.p-info {
  display: flex;
  flex: 1;
  // background-color: chartreuse;
  flex-direction: column;
  justify-content: center;
}

.p-info-container {
  margin: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  font-family: "Lato", "helvetica neue", helvetica, sans-serif; 
  p {
    font-size: 13px;
  }
}

.p-info-white {
  margin: 0px 80px;
  h1 {
    color: white;
  }
  h4 {
    color: white;
  }
  p {
    font-size: 13px;
    color: white;
  }
}

.p-photo {
  width: 450px;
  height: 270px;
  border: 1px solid black;
}

.project-links-container {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: 10px;
}

.project-links {
  text-decoration: none;
  &:hover {
    color: blue;
  }
}

// * Bio Skills

.section-title-container {
  display: flex;
  margin: 100px 20px;
}

.section-title-container-contact {
  display: flex;
  margin: 20px 20px;
}

.section-title {
  font-weight: bold;
  font-family: "Lato", "helvetica neue", helvetica, sans-serif;
}


.bio-skills-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.bio-main {
  display: flex;
  flex-direction: column;
}

.bio-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
}

.bio-space {
  display: flex;
  flex: 1.5;
}

.bio-text {
  display: flex;
  flex: 2;
  font-family: "Lato", "helvetica neue", helvetica, sans-serif;
  padding: 30px;
  background-color: rgb(0, 255, 255);
  border-radius: 10px;
  line-height: 1.5;
}

.icon-container {
  height: 80px;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0px;
  font-size: 25px;
}

.icon {
  padding: 0px 20px;
  font-size: 22px;
  color: black;
}

.icon-names {
  display: flex;
}

.icon-names-left {
  display: flex;
}

.icon-names-right {
  display: flex;
  margin-left: 50px;
}

.icon-text {
  font-family: "Lato", "helvetica neue", helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #faf9f7;
  transition: all 250ms ease-in-out;
  font-size: 13px;
  height: 50px;
  width: 40px;
  margin-top: -30px;
  &:hover {
    color: black;
  }
}

.icon-text-none {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #faf9f7;
  font-size: 13px;
  font-weight: bold;
  font-family: "Lato", "helvetica neue", helvetica, sans-serif;
}

.icons-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in-out;
  &:hover {
  color: black;
}
}

.icons {
  transition: all 250ms ease-in-out;
  &:hover {
    color: #222222;
  }
}

// * CONTACT

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  padding: 30px 0px;
}

.contact-title {
  font-weight: bold;
  font-family: "Lato", "helvetica neue", helvetica, sans-serif;
  font-size: 30px;
  margin: 30px 0px;
}

.contact-icons {
  display: flex;
  // align-items: center;
  margin: 30px 0px;
}

.contact-icon {
  margin: 0px 30px;
  font-size: 35px;
  color: black;
  cursor: pointer;
}

.back-to-top  {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text {
  font-size: 15px;
}





